# Lecture 03

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Names

In [ ]:
24 * 7

In [ ]:
hours_per_week = 24 * 7

In [ ]:
hours_per_week

In [ ]:
hours_per_week * 60

Terminology:  *expressions*, *values*, *names*, *variables*, *statements*

Naming rules:  letters, numbers, underscores; case sensitive; start with letter usually

Calculate the number of seconds in a year.

In [ ]:
60 * 60 * 24 * 365

In [ ]:
seconds_per_year = 60 * 60 * 24 * 365

In [ ]:
seconds_per_year

In [ ]:
seconds_per_hour = 60 * 60
hours_per_year = 24 * 365
seconds_per_year = seconds_per_hour * hours_per_year
seconds_per_year

## Functions

Terminology: *function*, *call*, *argument*, *parameter*

In [ ]:
abs(-5)

In [ ]:
abs(3-8)

In [ ]:
max(3, 4)

In [ ]:
y = max(3, 4)

In [ ]:
y

## Tables

CSV: comma separated values

In [ ]:
Table.read_table('flowers.csv')

In [ ]:
flowers = Table.read_table('flowers.csv')

In [ ]:
flowers

## Table operations: selecting columns

Terminology: *method*

In [ ]:
flowers.select('Petals')

In [ ]:
flowers

In [ ]:
petals = flowers.select('Petals')

In [ ]:
petals

In [ ]:
flowers.select('Petals', 'Name')

In [ ]:
flowers.drop('Color')

In [ ]:
flowers

## Table operations: Sorting

In [ ]:
# Data as of 2015 in dollars
movies = Table.read_table('top_movies_by_title.csv')

In [ ]:
movies

Terminology:  *named argument*

In [ ]:
movies.sort('Year', descending=True)

In [ ]:
movies.show(3)

In [ ]:
movies.sort('Gross')

In [ ]:
movies.sort('Gross', descending=True)

In [ ]:
sorted_by_gross = movies.sort('Gross', descending=True)

In [ ]:
sorted_by_gross.sort('Studio')

In [ ]:
sorted_by_gross.sort('Studio', distinct=True)

## Visualization

In [ ]:
top_per_studio = sorted_by_gross.sort('Studio', distinct=True)

In [ ]:
# Which studio has the highest grossing movie?
# Bar chart: visualize categorical data
top_per_studio.barh('Studio', 'Gross')

In [ ]:
# Sort: make it easier for the eye to compare
top_studios = top_per_studio.sort('Gross', descending=True)
top_studios.barh('Studio', 'Gross')

In [ ]:
# Compare unadjusted vs. adjusted gross
just_revenues = top_studios.select('Studio', 'Gross', 'Gross (Adjusted)')

In [ ]:
just_revenues

In [ ]:
just_revenues.barh('Studio')

## Table operations: where

In [ ]:
# This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341
# Salaries are in millions of $
nba = Table.read_table('nba_salaries.csv')

In [ ]:
nba

In [ ]:
nba.sort('2015-2016 SALARY')

In [ ]:
nba.where('2015-2016 SALARY', are.above(10))

In [ ]:
nba.where('2015-2016 SALARY', are.above(10)).sort('2015-2016 SALARY')

In [ ]:
nba.where('PLAYER', are.equal_to('LeBron James'))

In [ ]:
nba.where('TEAM', are.equal_to('New York Knicks'))

In [ ]:
nba.where('TEAM', are.equal_to('New York Knicks')).sort('2015-2016 SALARY', descending=True)

In [ ]:
nba.where('2015-2016 SALARY', are.between(10, 12))